

.wrapper{
	display: flex;
	flex-direction: column;
}

.headContainer{
	background-color: rgb(196, 59, 59);
	color:white;
	display:flex;
	justify-content: center;
	flex-direction: column;
	height: 15em;
	border: 1px solid #474545;
}

.myLogo, .searchBar{
	display:flex;
	justify-content: center;
	align-items: center;
	width:;
}

.pokmnInfo{
	margin-top:20px;
	border: 1px solid  black;
}

.row{
	height:9.5em;
}

.col-md-2{
	border: 1px solid black;
	height: inherit;
}

.pokemon-card{
	display:flex, inline-block;
	font-family: sans-serif;
	font-size: 13px;
	justify-content: center;
	text-transform: capitalize;
	text-align: center;
	user-select: none;
	color:white;
}

.pokemon-card:hover, .pokemon-card:active{
	cursor: pointer;
	box-shadow: 0px 0px 4px 5px #424345;
	z-index:1;
}
.pokemon-card:active{
	transform: translateY(4px);
}

.PkmType{
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	font-size:9px;
}

.infoScr{
	display:none;
	align-self:center;
	position: fixed;
	z-index: 2;
	height: 100%;
	width: 100%;
    background-color: rgba(0,0,0,0.4); 
}

.infoScrContainer{
	background-color: #ededed;
  	margin: 6% auto; 
  	padding: 40px;
  	border: 1px solid #888;
  	width: 50%; 
  	height: 70%;}

@media (max-width: 768px){
	.infoScrContainer{
		background-color: #fefefe;
	  	margin: 6% auto; 
	  	border: 1px solid #888;
	  	width: 100%; 
	  	height: 70%;
	}
}

.closeInfoScr{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	user-select: none;
}

.closeInfoScr:hover{
	cursor:pointer;
	
	text-decoration: none;
	color:#000;
}

.scrPkmInfo{
	display:flex,inline-block;
	margin-top: 90px;
	width: 100%;
	height: 40%;
	border:3px solid black;
	text-transform: capitalize;
}

.pkmImgInfo{
	height: 200px;
	display: inline-block;
	float: left;
	margin:auto;
}

.pkmNameInfo{
	font-size:28px;
}

.pkmTypesInfo{
	font-size: 20px;
}

.toTopBtn{
	background: #bd4b5b;
	position: fixed;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items:center;

}

a{
	font-size: 45px;
	color:white;
}
a:hover{
	color:#363636;
	user-select: none;
	text-decoration: none;
}
